.homepage {
    overflow: hidden;

    .site-banner {
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        height: 400px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        
    
        .site-title {
            font-family: 'Dancing Script', cursive;
            color: #14534C;
            width: 100%;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }

        .projects_banner {
            justify-content: center;
        }
    
    }
    
    .section-title {
        height: 50px;
        width: 100%;
        background-color: red($color: #000000);
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color:#A30B37;
        padding: 2rem 0 2rem 3rem;
    }

    .experience {
        background: url('/assets/img/background_exp.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-bottom: 3rem;

        .exp{
            margin-top: 5rem;
            .work-exp {
                padding: 0 1rem 0 2rem;
                display: flex;
        
                .fa-project-diagram {
                    height: 3rem;
                    background-color: red($color: #000000);
                }
        
                .company {
                    padding-left: 2rem;
                }
            }
        }        
    }    

    .skills {
        padding-left: 5rem;
        padding-top: 3rem;
        display: flex;
        flex-wrap: wrap;

        .tech-skill {
            display: flex;
            margin-right: 3rem;
        }
    }

    .about_me {
        .about-content {
            justify-content: center;
            text-align: justify;
            display: flex;
            flex-wrap: wrap;
            margin-top: 2rem;

            p {
                width: 85%;
            }
            
        }
    }

    .contact {        
        background: url('/assets/img/background_contact.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .contact_me {
            margin: 3rem;
        }
    }
           
    .footer {
        height: 220px;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        
        .contact_details {
            text-align: left;
            padding-top: 2.5rem;
            font-family: 'Manrope', sans-serif;
            color: #073B4C;
            font-size: small;

            h4 {
                color: #073B4C;
                font-size: x-large;
            }
        }
    }
}

@media only screen and (max-width: 1020px) {
    .projects_banner{
        display: none;
    }
}
