.project_carousel {
        width: 400px;
        height:340px;
        background-color: white;
        margin: 30px;
        overflow: hidden;

        .title {
                height: 15px;
                margin-top: 10px;
                text-align: center;
                font-family: 'Dancing Script', cursive;
                font-size: 22px;
                color: black;
        }

        .img  
                {  
                        justify-content: center;
                        width: 100%;
                        height: 200px; 
                        border: #14534C 2px solid;
                }  
}


